*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Custom Properties*/

:root{
    --ff-primary: 'Space Mono', monospace;

    --fw-reg: 400;
    --fw-bold: 700;

    /*Colors*/
    --clr-primary: hsl(172, 67%, 45%); /*Strong cyan*/

    --clr-drk: hsl(183, 100%, 15%); /*Very dark cyan*/
    --clr-drk-gry: hsl(186, 14%, 43%); /*Dark grayish cyan*/
    --clr-drk-gry2: hsl(184, 14%, 56%); /*Dark grayish cyan*/
    --clr-lgt-gry: hsl(185, 41%, 84%); /*Light grayish cyan*/
    --clr-lgt-gry2: hsl(189, 41%, 97%); /*Light grayish cyan*/
    --clr-lgt: hsl(0, 0%, 100%); /*white*/

    --clr-error: #D9534F;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: var(--clr-lgt-gry);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 24px;
}

h1, h2, h3, p, span {
    padding: 0;
    margin: 0;
}
/* Remove arrow styling of number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Header Content */
.header {
    display: flex;
    justify-content: center;
    padding: 3rem 0 1.5rem;
}

/* footer Content */
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 5px auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Button Styling */

.btn {
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    background: var(--clr-drk);
    color: var(--clr-lgt);
    height: 3rem;
}

.btn-active {
    background: var(--clr-primary);
    color: var(--clr-drk);
}

.btn:hover{
    background: var(--clr-lgt-gry);
    color: var(--clr-drk);
}

:focus {
    outline: 2px solid var(--clr-primary);
    outline-offset: 2px;
}

/******* Application Styling ********/
/* Styling for Inputs div */

.calculator {
    background: var(--clr-lgt);
    border-radius: 20px;
    padding: 2rem;
    min-height: calc(100vh - 175px);
    width: 375px;     /* set for mobile size */
    margin: 0 auto;
}

@media (min-width: 700px) {
    .header {
        padding: 8rem 0 5rem;
    }

    .calculator {
        display: flex;
        flex-direction: row;
        width: 90%;
        max-width: 900px;
        min-height: 100%;
    }
    .calculator__inputs{
        padding: .5rem 2rem 0 .5rem ;
        width: 50%;
    }
    .calculator__results{
        width: 50%;
    }
}

.calculator__inputs_titles {
    color: var(--clr-drk-gry);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.calculator__inputs_input {
    cursor: pointer;
    border: none;
    border-radius: .25rem;
    width: 100%;
    background: var(--clr-lgt-gry2);
    height: 3rem;
    margin: 0 0 2rem;
    text-align: right;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    color: var(--clr-drk);
    padding-right: 1rem;
}

.calculator__inputs_input::placeholder {
    color: var(--clr-drk-gry);
}

.calculator__inputs_input:focus,
.calculator__inputs_input:hover {
    outline-color: var(--clr-primary);
}

.input_error {
    border: 2px solid var(--clr-error);
}

.input_error_span {
    color: var(--clr-error);
}

.bill {
    background-image: url("./images/icon-dollar.svg");
    background-position: 1rem 50%;
    background-repeat: no-repeat;
}

.calculator__inputs_percentages {
    display: grid;
    padding-top: .5rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 1rem;
}

.num-plp {
    background-image: url("./images/icon-person.svg");
    background-position: 1rem 50%;
    background-repeat: no-repeat;
}

@media (min-width: 700px) {
    .calculator__inputs_percentages {
        grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
    }
}

/* Styling for Results div */

.calculator__results {
    background: var(--clr-drk);
    color: var(--clr-primary);
    padding: 2.5rem 1.5rem 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1.5rem) 3rem;
    grid-template-areas:
        "tip-ttl tip-amt"
        "tip-stl tip-amt"
        "....... ......"
        "tot-ttl tot-amt"
        "tot-stl tot-amt"
        "....... ......."
        "reset     reset";
}

.calculator__results_title {
    font-size: 1rem;
    color: var(--clr-lgt-gry2);
}

.calculator__results_subtitle {
    font-size: .75rem;
    color: var(--clr-drk-gry2);
}

.calculator__results_amount {
    text-align: right;
    font-size: 2rem;
}

@media (min-width: 700px) {
    .calculator__results {
        grid-template-rows: repeat(5, 2rem) 1fr 3rem;
    }

    .calculator__results_amount {
        font-size: 3rem;
    }
}

/* Setting grid positioning for Results */

.tip-title {
    grid-area: tip-ttl;
}

.tip-subtitle {
    grid-area: tip-stl;
}

.calculated-tip {
    grid-area: tip-amt;
}

.total-title {
    grid-area: tot-ttl;
}

.total-subtitle {
    grid-area: tot-stl;
}

.calculated-total {
    grid-area: tot-amt;
}

.calculator__results-reset {
    grid-area: reset;
    font-size: 1.25rem;
}
