*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Custom Properties*/

:root{
    --ff-primary: 'Space Mono', monospace;

    --fw-reg: 400;
    --fw-bold: 700;

    /*Colors*/
    --clr-primary: hsl(172, 67%, 45%); /*Strong cyan*/

    --clr-drk: hsl(183, 100%, 15%); /*Very dark cyan*/
    --clr-drk-gry: hsl(186, 14%, 43%); /*Dark grayish cyan*/
    --clr-drk-gry2: hsl(184, 14%, 56%); /*Dark grayish cyan*/
    --clr-lgt-gry: hsl(185, 41%, 84%); /*Light grayish cyan*/
    --clr-lgt-gry2: hsl(189, 41%, 97%); /*Light grayish cyan*/
    --clr-lgt: hsl(0, 0%, 100%); /*white*/
}
html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: var(--clr-lgt-gry);
    font-family: var(--ff-primary);
    font-size: 24px;
}

h2, h3, p {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
}

.title {
    inline-size: 125px;
    overflow-wrap: break-word;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: .25em;
    font-size: 2rem;
}

.attribution {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

.btn {
    border-radius: .25rem;
    border: none;
    font-weight: var(--fw-bold);
    font-size: 1rem;
    background: var(--clr-drk);
    color: var(--clr-lgt);
}

.btn-active {
    background: var(--clr-primary);
    color: var(--clr-drk);
}

.calculator {
    background: var(--clr-lgt);
    border-radius: 20px 20px 0 0;
    padding: 1.5rem;
    min-height: calc(100vh - 175px);
    width: 375px; /* set for mobile size */
    margin: 0 auto;
}

.calculator__results {
    background: var(--clr-drk);
    color: var(--clr-primary);
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 24px) 38px;
}

.calculator__results_title {
    font-size: 1rem;
    color: var(--clr-lgt-gry2);
}

.calculator__results_subtitle {
    font-size: .75rem;
    font-weight: var(--fw-bold);
    color: var(--clr-drk-gry2);
}

.calculator__results_amount {
    text-align: right;
    font-size: 2rem;
}

.tip-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tip-subtitle {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.calculated-tip {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

}

.total-title {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.total-subtitle {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.calculated-total {
    grid-column: 2 / 3;
    grid-row: 4 / 6;

}

.calculator__results-reset {
    grid-column: span 2;
    grid-row: 7 / 8;
}